<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySessionDemoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyFirst</display-name>
    <servlet-name>MyFirst</servlet-name>
    <servlet-class>com.sujata.demo.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirst</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySecond</display-name>
    <servlet-name>MySecond</servlet-name>
    <servlet-class>com.sujata.demo.MySecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySecond</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyThird</display-name>
    <servlet-name>MyThird</servlet-name>
    <servlet-class>com.sujata.demo.MyThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyThird</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFourth</display-name>
    <servlet-name>MyFourth</servlet-name>
    <servlet-class>com.sujata.demo.MyFourthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFourth</servlet-name>
    <url-pattern>/fourth</url-pattern>
  </servlet-mapping>
</web-app>