<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyEmployeeWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MySearchEmployee</display-name>
    <servlet-name>MySearchEmployee</servlet-name>
    <servlet-class>com.sujata.controllers.MySearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearchEmployee</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDisplayEmployee</display-name>
    <servlet-name>MyDisplayEmployee</servlet-name>
    <servlet-class>com.sujata.view.MyDisplayEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDisplayEmployee</servlet-name>
    <url-pattern>/displayEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySearchAllEmployees</display-name>
    <servlet-name>MySearchAllEmployees</servlet-name>
    <servlet-class>com.sujata.controllers.MySearchAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearchAllEmployees</servlet-name>
    <url-pattern>/searchAllEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDisplayAllEmployees</display-name>
    <servlet-name>MyDisplayAllEmployees</servlet-name>
    <servlet-class>com.sujata.view.MyDisplayAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDisplayAllEmployees</servlet-name>
    <url-pattern>/displayAllEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInsertEmployee</display-name>
    <servlet-name>MyInsertEmployee</servlet-name>
    <servlet-class>com.sujata.controllers.MyInsertEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInsertEmployee</servlet-name>
    <url-pattern>/insertEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOutput</display-name>
    <servlet-name>MyOutput</servlet-name>
    <servlet-class>com.sujata.view.MyOutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOutput</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
</web-app>